
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static%}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'images' %}">
        <link rel="shortcut Icon" type="image/png" href="img/favicon.png">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet"href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        

        
        
        {% comment %}fonts{% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
                    
       
        
    </head>
    <body>
        <div class="container">
            <header>
                <a href="{% url 'home'%}" class="logo"><i class="ri-shopping-cart-2-fill"></i><span>RSTore</span></a>
                <ul class="navbar">
                    <li><a href="{% url 'home'%}"{% if request.resolver_match.url_name == 'home'%}class="active"{% endif %}>Home</a></li>
                    <li><a href="{% url 'shop'%}"{% if request.resolver_match.url_name == 'shop'%}class="active"{% endif %}>Shop</a></li>
                    <li><a href="login"><i class="ri-user-2-fill"> </i>Account</a></li>
                    <li><a href="{% url 'cart'%}"><i class="ri-shopping-cart-fill"> </i>Cart</a></li>

            
                </ul>

                <div class="header-icons">
                    <i class='bx bx-menu' id="menu-icon"></i>
                    <i class='bx bx-search ' id="search-icon"> </i>
                    <i class='bx bx-cart-alt' id="cart-icon" ><a href="{% url 'cart' %}"></i>
                    <i class='bx bx-user' id="user-icon"></i>
                </div>


                {% comment %} <div class="search-box">
                    <input type="search" name="" id="" placeholder="search here...">
                </div> {% endcomment %}
    
                {% comment %} <div class="main">
                    <a href="" class="user"><i class="ri-user-2-fill"></i>Sign In</a>
                    <a href="">Register</a>
                    <div class="bx bx-menu" id="menu-icon"></div>
                </div> {% endcomment %}
            </header>
            <div class="content">
                <a href="{% url 'shop' %}" class="btn" onclick="shop()">Shop Now</a>
                <h1>Get Trendy Clothes<br>JUNE SALE</h1>
                <p> SAVE 20% OFF</p>

            </div>

            


        </div>      
        
            {% block content %}

            {% endblock %}

            
            
            

            <div class="footer">
                <div class="container-fot">
                    <div class="row-fot">
                        <div class="footer-col">
                            <h4>RStore</h4>
                            <ul>
                                <li><a href="">About us</a></li>
                                <li><a href="">Our Services</a></li>
                                <li><a href="">Privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Get Help</h4>
                            <ul>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Shipping returns</a></li>
                                <li><a href="">Returns</a></li>
                                <li><a href="">Order status</a></li>
                                <li><a href="">Payment Option</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Our Shop</h4>
                            <ul>
                                <li><a href="">Shoes</a></li>
                                <li><a href="">Trousers</a></li>
                                <li><a href="">T-shirts</a></li>
                                <li><a href="">Skirts</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Follow Us</h4>
                            <div class="social-link">
                                <a href=""><i class="fab fa-facebook-f"></i>
                                <a href=""><i class="fab fa-instagram"></i>
                                <a href=""><i class="fab fa-twitter"></i>
                                <a href=""><i class="fab fa-linkedin"></i>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <p>Copyright 2023 RStore, All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>

    
        <script src="{% static 'jquery-3.7.0.min.js' %}"></script>
        <script  type="text/javascript" src = "{% static 'script.js' %}"></script>
        <script src = "{% static 'jquery-3.7.0.min.js' %}"></script> 
    </body>
</html>